# فایل‌های داده حساس - هرگز نباید به گیت‌هاب آپلود شوند
data/
*.json

# اما requirements و کدها باید آپلود شوند، پس استثنا می‌کنیم
!requirements.txt

# فایل‌های پایتون
__pycache__/
*.pyc
.env

# فایل‌های سیستمی
.DS_Store
